/*
=============== 
Global Styles
===============
*/
:root {
  --clr-transparent: rgba(0, 0, 0, 0);
  --clr-grey-0: #f8f8f8;
  --clr-grey-1: #dedede;
  --clr-grey-2: #cccccc;
  --clr-grey-3: #b9b9b9;
  --clr-grey-4: #a6a6a6;
  --clr-grey-5: #939393;
  --clr-grey-6: #808080;
  --clr-grey-7: #6d6d6d;
  --clr-grey-8: #5a5a5a;
  --clr-grey-9: #464646;
  --clr-grey-10: #333333;
  --clr-pink-1: #fedfec;
  --clr-pink-2: #febfd9;
  --clr-pink-3: #fda0c6;
  --clr-pink-4: #fd80b3;
  --clr-pink-5: #fc60a0;
  --clr-pink-6: #ca4d80;
  --clr-pink-7: #973a60;
  --clr-pink-8: #652640;
  --clr-pink-9: #321320;
  --clr-white: #fff;
  --clr-black: black;
  --clr-grey: grey;
  --clr-purple: #6717cf;
  --clr-link-blue: #3681ad;
  --clr-gold: gold;
  --clr-orange: orange;
  --clr-identity-blue: #3460e7;
  --clr-identity-red: #ff3819;
  --clr-mark-bg-red: rgba(255, 56, 25, 0.1);
  --clr-mark-bg-gold: rgba(255, 215, 0, 0.1);
  --clr-mark-bg-orange: rgba(255, 165, 0, 0.1);
  --clr-mark-bg-blue: rgba(52, 96, 231, 0.1);
  --clr-bg-black: rgba(0, 0, 0, 0.1);
  --clr-carousel-dot: rgba(255, 255, 255, 0.5);
  --clr-font: var(--clr-grey-10);
  --width-nav-icons: 3.5rem;
  --border-bottom-selected-nav: solid 3px var(--clr-pink-5);
  --border-normal-grey: solid 1px var(--clr-grey-8);
  --border-thin-grey: solid 1px var(--clr-grey-1);
  --border-extreme-thin-grey: solid 1px var(--clr-grey-0);
  --linear-gradient-black: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.7)
  );
  /* --small-word-space: 1px; */
  --small-letter-space: 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}
a {
  color: var(--clr-grey-8);
  text-decoration: none;
}
a:visited {
  color: var(--clr-grey-8);
}
li {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pink {
  background-color: var(--clr-pink-5);
}
/* style class */
.relative {
  position: relative;
}
.fixed {
  position: fixed;
  width: 100%;
}
.sticky {
  position: sticky;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.two-column {
  grid-template-columns: repeat(2, 1fr);
}
.two-row {
  grid-template-rows: repeat(2, 1fr);
}
.user-img {
  height: 50px;
  width: 50px;
}
.user-img img {
  border-radius: 50%;
}
.btn {
  border-radius: 2px;
  border: none;
  letter-spacing: var(--small-letter-space);
}
.btn-pink-white {
  background-color: var(--clr-pink-5);
  color: var(--clr-white);
  border: none;
  letter-spacing: var(--small-letter-space);
}
.level-6 {
  background-color: var(--clr-orange);
  color: var(--clr-white);
}
/*
=============== 
nav
===============
*/
/* 首页 */

nav i,
nav li {
  color: var(--clr-grey-8);
}
.index-nav {
  padding: 15px 10px 0px 10px;
  width: 100vw;
  /* grid-template-rows: 1fr auto; */
}
.nav-center {
  height: 3rem;
  width: 100%;
  grid-template-columns: auto 1fr auto;
  column-gap: 10px;
  align-items: center;
}
.nav-img {
  transform: scale(80%);
}
nav input {
  width: 100%;
  height: 2rem;
  border-radius: 15px;
  border: var(--border-normal-grey);
}
nav input::placeholder {
  padding-left: 30px;
  color: var(--clr-grey-8);
}
.nav-middle i {
  position: absolute;
  left: 10px;
  top: 5px;
}
.nav-right {
  justify-content: space-between;
  width: 4rem;
}
.page-option-container {
  width: 100%;
  height: 2rem;
  background-color: var(--clr-white);
}
.page-options {
  column-gap: 40px;
}
.page-option {
  padding: 5px 0;
  white-space: nowrap;
}
.page-option.selected {
  color: var(--clr-pink-5);
  font-weight: 550;
  border-bottom: var(--border-bottom-selected-nav);
}
.option-right {
  width: 2rem;
  justify-content: flex-end;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255)
  );
}
.option-sticky-container {
  top: 0;
}

/* 动态页 */
nav.trend-nav {
  padding: 5px 10px;
  width: 100vw;
  background-color: var(--clr-white);
  border-bottom: var(--border-extreme-thin-grey);
}
nav.trend-nav .nav-text {
  font-size: 1rem;
  white-space: nowrap;
}
.trend-nav .nav-center {
  grid-template-columns: 1fr 2fr 1fr;
}
.trend-nav .nav-middle {
  text-align: center;
}
.trend-nav .nav-right {
  justify-self: flex-end;
  text-align: end;
}
.trend-nav .nav-right i {
  color: var(--clr-grey-8);
}
.nav-options {
  padding: 5px 10px;
}
.options-center {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}
.trend-btn {
  width: 100%;
  height: 1.5rem;
  font-size: 0.7rem;
  color: var(--clr-grey-8);
  background-color: var(--clr-grey-0);
}
.trend-btn.selected {
  color: var(--clr-pink-4);
  font-weight: 550;
}
/* mine */
.nav.mine-nav {
  background-color: var(--clr-white);
}
.mine-nav-center {
  justify-content: flex-end;
  padding: 10px;
  column-gap: 20px;
}
/* mine */
/* section */
.mine-user {
  background-color: var(--clr-white);
}
.mine-user-center {
  grid-template-rows: 1fr auto;
}
.user-intro-firstline i,
.user-intro-thirdline span,
.mine-user-right span {
  font-size: 0.8rem;
  color: var(--clr-grey-5);
}
.mine-user-top {
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.mine-user-left {
  column-gap: 20px;
  align-items: center;
}
/* .mine-user-img {
  transform: scale(90%);
} */

.user-intro-firstline {
  column-gap: 5px;
  padding-bottom: 5px;
  align-items: center;
}

.mine-name {
  font-size: 0.9rem;
  color: var(--clr-pink-5);
  font-weight: 550;
}
.level-text {
  font-size: 0.7rem;
  font-weight: 550;
}
.user-intro-secondline {
  padding-bottom: 10px;
}
.vip-text {
  display: inline-block;
  padding: 1px 2px;
  border-radius: 15px;
  font-weight: 550;
  font-size: 0.7rem;
}
.user-intro-thirdline {
  column-gap: 10px;
}
.mine-user-bottom {
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding: 10px;
}
.user-num-type {
  color: var(--clr-grey-8);
  font-size: 0.75rem;
}

/*
=============== 
main
===============
*/
/* 首页-推荐 */
main.index {
  padding: 5px 5px;
  background-color: var(--clr-grey-1);
}

.carousel-img {
  height: 18rem;
  border-radius: 5px;
  overflow: hidden;
}
.carousel-footer {
  padding: 10px 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background: var(--linear-gradient-black);
  justify-content: space-between;
  align-items: flex-end;
}
.carousel-text {
  letter-spacing: var(--small-letter-space);
  font-size: 0.8rem;
  font-weight: 550;
  color: var(--clr-white);
}
.carousel-circle {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.carousel-circle a {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--clr-carousel-dot);
}
.carousel-circle a.selected {
  background-color: var(--clr-white);
}
.videos-container {
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  margin-top: 5px;
}
.video-card {
  background-color: var(--clr-white);
  border-radius: 5px;
  overflow: hidden;
}
.video-img {
  height: 10rem;
}
.video-play-info {
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  width: 100%;
  /* padding: 5px 10px; */
  background: var(--linear-gradient-black);
}
.video-play-info span {
  color: var(--clr-white);
  font-size: 0.7rem;
  display: inline-block;
  margin: 5px 8px;
}
.video-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  margin: 10px;
}
.title-text {
  font-size: 0.9rem;
  line-height: 1.5;
}
.video-card-footer {
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}
.card-footer-left {
  column-gap: 5px;
}

.video-card-footer .status.up span {
  display: inline-block;
  font-size: 0.7rem;
  border: var(--border-normal-grey);
  border-radius: 3px;
  width: 1.2rem;
  text-align: center;
}
.video-card-footer .publisher span {
  font-size: 0.8rem;
  color: var(--clr-grey-8);
}
.card-footer-right i {
  color: var(--clr-grey-8);
}
/* trend-动态页 */
main.trend {
  background-color: var(--clr-grey-1);
}
.usually-visit {
  padding: 10px;
  background-color: var(--clr-white);
}
.usual-visit-intro {
  justify-content: space-between;
  padding: 5px 0;
}
.usual-visit-intro .intro-left {
  font-size: 0.8rem;
}
.usual-visit-intro .intro-right {
  font-size: 0.7rem;
  color: var(--clr-grey-5);
}
.usually-visit-container {
  column-gap: 20px;
}
.usually-visit-card {
  width: 4rem;
}
.selection-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.visit-img {
  transform: scale(90%);
}
.visit-name {
  font-size: 0.65rem;
  color: var(--clr-grey-8);
}
.trends-container {
  padding: 10px 0;
}
.trend-card {
  background-color: var(--clr-white);
  padding: 10px;
  margin-bottom: 10px;
}
.trend-title {
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;
}
.trend-title-left {
  column-gap: 15px;
  align-items: center;
}
.trend-user-img {
  transform: scale(80%);
}
.trend-title-text .user-name {
  font-size: 0.9rem;
}
.trend-title-text .trend-time {
  color: var(--clr-grey-5);
  font-size: 0.8rem;
  line-height: 1;
}
.trend-title-right i {
  color: var(--clr-grey-5);
}
.video-container {
  width: 100%;
  height: 15rem;
  border-radius: 5px;
  overflow: hidden;
}
video {
  width: 100%;
  object-fit: contain;
}
.video-play-control {
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: flex-end;
  background: var(--linear-gradient-black);
}
.video-play-control span {
  color: var(--clr-white);
  font-size: 0.8rem;
  display: inline-block;
}
.video-length {
  background-color: var(--clr-grey-10);
  padding: 5px;
}
.video-control-right i {
  font-size: 2rem;
  color: var(--clr-white);
}
.video-title-text {
  font-size: 0.9rem;
  font-weight: 550;
}
.trend-footer {
  justify-content: space-around;
}
.trend-footer span {
  color: var(--clr-grey-8);
  font-size: 0.8rem;
}
/* mine-main */
main.mine {
  padding-top: 12rem;
  padding-bottom: 4rem;
}
.video-record {
  grid-template-columns: repeat(4, 1fr);
}
.video-record-card {
  display: grid;
  justify-items: center;
  gap: 5px;
}
.video-record-card i {
  font-size: 1.25rem;
  color: var(--clr-link-blue);
  display: inline-block;
  padding: 5px;
}
.video-record-type,
.optional-type {
  font-size: 0.75rem;
}
.createcenter-title-btn {
  padding: 5px 10px;
  border-radius: 13px;
  width: 5rem;
}
.optional-card i {
  font-size: 1.25rem;
  display: inline-block;
  padding: 5px;
}

.optional .optional-title-center {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.optional-content-center.four-column {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
}
.optional-card.grid {
  display: grid;
  justify-items: center;
  gap: 5px;
}
.optional-card.grid i {
  font-size: 1.25rem;
  display: inline-block;
  padding: 5px;
}
.createcenter-content-center i {
  color: var(--clr-gold);
}
.recommend-content-center i {
  color: var(--clr-pink-4);
}
.nogrid-optional-type {
  font-size: 0.9rem;
}
.optional-card.flex {
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 10px;
}
.service-content-center .optional-card-left i {
  color: var(--clr-pink-4);
  display: inline-block;
  padding: 0 10px;
}
.optional-card-right i {
  color: var(--clr-grey-5);
  font-size: 0.9rem;
}
/*
=============== 
footer
===============
*/
.footer {
  height: 4rem;
  background-color: var(--clr-white);
  padding-top: 10px;
  padding-bottom: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}
.footer-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-icon {
  height: 3rem;
  display: grid;
}
.side-icon {
  grid-template-rows: 1fr auto;
  row-gap: 0;
  justify-content: center;
  text-align: center;
}
.side-icon i {
  font-size: 20px;
}
.side-icon span {
  font-size: 14px;
}
.side-icon.selected i,
.side-icon.selected span {
  color: var(--clr-pink-4);
}
.center-icon {
  background-color: var(--clr-pink-5);
  width: 3rem;
  height: 3rem;
  justify-items: center;
  align-items: center;
  border-radius: 15px;
}
.center-icon i {
  color: var(--clr-white);
  font-size: 20px;
}
