/*
=============== 
Global Styles
===============
*/
:root {
  --clr-transparent: rgba(0, 0, 0, 0);
  --clr-grey-0: #f8f8f8;
  --clr-grey-1: #dedede;
  --clr-grey-2: #cccccc;
  --clr-grey-3: #b9b9b9;
  --clr-grey-4: #a6a6a6;
  --clr-grey-5: #939393;
  --clr-grey-6: #808080;
  --clr-grey-7: #6d6d6d;
  --clr-grey-8: #5a5a5a;
  --clr-grey-9: #464646;
  --clr-grey-10: #333333;
  --clr-pink-1: #fedfec;
  --clr-pink-2: #febfd9;
  --clr-pink-3: #fda0c6;
  --clr-pink-4: #fd80b3;
  --clr-pink-5: #fc60a0;
  --clr-pink-6: #ca4d80;
  --clr-pink-7: #973a60;
  --clr-pink-8: #652640;
  --clr-pink-9: #321320;
  --clr-blue-0: #e2e9f8;
  --clr-blue-1: #d0dbf3;
  --clr-blue-2: #bfceef;
  --clr-blue-3: #adc1ea;
  --clr-blue-4: #9cb3e6;
  --clr-blue-5: #8aa6e1;
  --clr-blue-6: #758dbf;
  --clr-blue-7: #61749e;
  --clr-blue-8: #4c5b7c;
  --clr-blue-9: #37425a;
  --clr-white: #fff;
  --clr-black: black;
  --clr-grey: grey;
  --clr-purple: #6717cf;
  --clr-link-blue: #3681ad;
  --clr-gold: gold;
  --clr-orange: orange;
  --clr-identity-blue: #3460e7;
  --clr-identity-red: #ff3819;
  --clr-mark-bg-red: rgba(255, 56, 25, 0.1);
  --clr-mark-bg-gold: rgba(255, 215, 0, 0.1);
  --clr-mark-bg-orange: rgba(255, 165, 0, 0.1);
  --clr-mark-bg-blue: rgba(52, 96, 231, 0.1);
  --clr-bg-black: rgba(0, 0, 0, 0.1);
  --clr-bg-black-darker: rgba(0, 0, 0, 0.7);

  --clr-carousel-dot: rgba(255, 255, 255, 0.5);
  --clr-font: var(--clr-grey-10);
  --card-two-columns-width: 48vw;
  --two-columns-divider-width: 2vw;
  --width-nav-icons: 3.5rem;
  --border-of-identity-icon: solid 1px var(--clr-white);
  --border-bottom-selected-nav: solid 3px var(--clr-pink-5);
  --border-normal-grey: solid 1px var(--clr-grey-8);
  --border-thin-grey: solid 1px var(--clr-grey-1);
  --border-thin-pink: solid 1px var(--clr-pink-5);
  --border-extreme-thin-grey: solid 1px var(--clr-grey-0);
  --linear-gradient-black: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.7)
  );
  --linear-gradient-black-reverse: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0)
  );
  /* --small-word-space: 1px; */
  --small-letter-space: 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}
a {
  color: var(--clr-grey-8);
  text-decoration: none;
}
a:visited {
  color: var(--clr-grey-8);
}
li {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pink {
  background-color: var(--clr-pink-5);
}
/* style class */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
  width: 100%;
}
.sticky {
  position: sticky;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.two-column {
  grid-template-columns: repeat(2, 1fr);
}
.two-row {
  grid-template-rows: repeat(2, 1fr);
}
.user-img {
  height: 50px;
  width: 50px;
  position: relative;
}
.user-img img {
  border-radius: 50%;
}
.user-img-identity {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border-of-identity-icon);
}

.user-img-identity.vip {
  background-color: var(--clr-pink-5);
}
.user-img-identity.vip .identity-text {
  font-size: 0.65rem;
  color: var(--clr-white);
  font-weight: 550;
}
.btn {
  border-radius: 2px;
  border: none;
  letter-spacing: var(--small-letter-space);
  white-space: nowrap;
}
.btn-pink-white {
  background-color: var(--clr-pink-5);
  color: var(--clr-white);
  border: none;
  letter-spacing: var(--small-letter-space);
}
.level-6 {
  background-color: var(--clr-orange);
  color: var(--clr-white);
}
.rank {
  background-color: var(--clr-mark-bg-orange);
  color: var(--clr-orange);
}
/*
=============== 
nav
===============
*/
/* 首页 */

nav i,
nav li {
  color: var(--clr-grey-8);
}
.index-nav {
  padding: 15px 10px 0px 10px;
  width: 100vw;
  /* grid-template-rows: 1fr auto; */
}
.nav-center {
  height: 3rem;
  width: 100%;
  grid-template-columns: auto 1fr auto;
  column-gap: 10px;
  align-items: center;
}
.nav-img {
  transform: scale(80%);
}
nav.index-nav input,
nav.purchase-nav input {
  width: 100%;
  height: 2rem;
  border-radius: 15px;
  border: var(--border-normal-grey);
}
nav.index-nav input::placeholder,
nav.purchase-nav input::placeholder {
  padding-left: 30px;
  color: var(--clr-grey-8);
}
.nav-middle i {
  position: absolute;
}
.nav-middle i.icon-left {
  left: 10px;
  top: 5px;
}
.nav-middle i.icon-right {
  right: 10px;
  top: 5px;
}
.nav-right {
  justify-content: space-between;
  width: 4rem;
}
.page-option-container {
  width: 100%;
  height: 2rem;
  background-color: var(--clr-white);
}
.page-options {
  column-gap: 40px;
}
.page-option {
  padding: 5px 0;
  white-space: nowrap;
}
.page-option.selected {
  color: var(--clr-pink-5);
  font-weight: 550;
  border-bottom: var(--border-bottom-selected-nav);
}
.option-right {
  width: 2rem;
  justify-content: flex-end;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255)
  );
}
.option-sticky-container {
  top: 0;
}

/* 动态页 */
nav.trend-nav {
  padding: 5px 10px;
  width: 100vw;
  background-color: var(--clr-white);
  border-bottom: var(--border-extreme-thin-grey);
}
nav.trend-nav .nav-text {
  font-size: 1rem;
  white-space: nowrap;
}
.trend-nav .nav-center {
  grid-template-columns: 1fr 2fr 1fr;
}
.trend-nav .nav-middle {
  text-align: center;
}
.trend-nav .nav-right {
  justify-self: flex-end;
  text-align: end;
}
.trend-nav .nav-right i {
  color: var(--clr-grey-8);
}
.nav-options {
  padding: 5px 10px;
}
.options-center {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}
.trend-btn {
  width: 100%;
  height: 1.5rem;
  font-size: 0.7rem;
  color: var(--clr-grey-8);
  background-color: var(--clr-grey-0);
}
.trend-btn.selected {
  color: var(--clr-pink-4);
  font-weight: 550;
}
/* purchase */
.purchase-nav .nav-center {
  padding: 10px;
  background-color: var(--clr-white);
  height: 4rem;
}
.purchase-nav .nav-middle input {
  border-color: var(--clr-pink-4);
}
.purchase-nav .nav-left-text {
  font-weight: 550;
}
.purchase-nav .nav-middle i.icon-left {
  color: var(--clr-pink-4);
}
/* mine */
.nav.mine-nav {
  background-color: var(--clr-white);
}
.mine-nav-center {
  justify-content: flex-end;
  padding: 10px;
  column-gap: 20px;
}
/* mine */
/* section */
.mine-user {
  background-color: var(--clr-white);
}
.mine-user-center {
  grid-template-rows: 1fr auto;
}
.user-intro-firstline i,
.user-intro-thirdline span,
.mine-user-right span {
  font-size: 0.8rem;
  color: var(--clr-grey-5);
}
.mine-user-top {
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.mine-user-left {
  column-gap: 20px;
  align-items: center;
}
/* .mine-user-img {
  transform: scale(90%);
} */

.user-intro-firstline {
  column-gap: 5px;
  padding-bottom: 5px;
  align-items: center;
}

.mine-name {
  font-size: 0.9rem;
  color: var(--clr-pink-5);
  font-weight: 550;
}
.level-text {
  font-size: 0.7rem;
  font-weight: 550;
}
.user-intro-secondline {
  padding-bottom: 10px;
}
.vip-text {
  display: inline-block;
  padding: 1px 2px;
  border-radius: 15px;
  font-weight: 550;
  font-size: 0.7rem;
}
.user-intro-thirdline {
  column-gap: 10px;
}
.mine-user-bottom {
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding: 10px;
}
.user-num-type {
  color: var(--clr-grey-8);
  font-size: 0.75rem;
}

/*
=============== 
main
===============
*/
/* 首页-推荐 */
main.index {
  padding: 5px 5px;
  background-color: var(--clr-grey-1);
}

.carousel-img {
  height: 18rem;
  border-radius: 5px;
  overflow: hidden;
}
.carousel-footer {
  padding: 10px 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background: var(--linear-gradient-black);
  justify-content: space-between;
  align-items: flex-end;
}
.carousel-text {
  letter-spacing: var(--small-letter-space);
  font-size: 0.8rem;
  font-weight: 550;
  color: var(--clr-white);
}
.carousel-circle {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.carousel-circle a {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--clr-carousel-dot);
}
.carousel-circle a.selected {
  background-color: var(--clr-white);
}
.videos-container {
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  margin-top: 5px;
}
.video-card {
  background-color: var(--clr-white);
  border-radius: 5px;
  overflow: hidden;
}
.video-img {
  height: 10rem;
}
.video-play-info {
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  width: 100%;
  /* padding: 5px 10px; */
  background: var(--linear-gradient-black);
}
.video-play-info span {
  color: var(--clr-white);
  font-size: 0.7rem;
  display: inline-block;
  margin: 5px 8px;
}
.video-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  margin: 10px;
}
.title-text {
  font-size: 0.9rem;
  line-height: 1.5;
}
.video-card-footer {
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}
.card-footer-left {
  column-gap: 5px;
}

.status.up span {
  display: inline-block;
  font-size: 0.7rem;
  border: var(--border-normal-grey);
  border-radius: 3px;
  width: 1.2rem;
  text-align: center;
  color: var(--clr-grey-8);
}
.publisher span {
  font-size: 0.8rem;
  color: var(--clr-grey-8);
}
.card-footer-right i {
  color: var(--clr-grey-8);
}
/* trend-动态页 */
main.trend {
  background-color: var(--clr-grey-1);
}
.usually-visit {
  padding: 10px;
  background-color: var(--clr-white);
}
.usual-visit-intro {
  justify-content: space-between;
  padding: 5px 0;
}
.usual-visit-intro .intro-left {
  font-size: 0.8rem;
}
.usual-visit-intro .intro-right {
  font-size: 0.7rem;
  color: var(--clr-grey-5);
}
.usually-visit-container {
  column-gap: 20px;
}
.usually-visit-card {
  width: 4rem;
}
.selection-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.visit-img {
  transform: scale(90%);
}
.visit-name {
  font-size: 0.65rem;
  color: var(--clr-grey-8);
}
.trends-container {
  padding: 10px 0;
}
.trend-card {
  background-color: var(--clr-white);
  padding: 10px;
  margin-bottom: 10px;
}
.trend-title {
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;
}
.trend-title-left {
  column-gap: 15px;
  align-items: center;
}
.trend-user-img {
  transform: scale(80%);
}
.trend-title-text .user-name {
  font-size: 0.9rem;
}
.trend-title-text .trend-time {
  color: var(--clr-grey-5);
  font-size: 0.8rem;
  line-height: 1;
}
.trend-title-right i {
  color: var(--clr-grey-5);
}
.video-container {
  width: 100%;
  height: 15rem;
  border-radius: 5px;
  overflow: hidden;
}
video {
  width: 100%;
  object-fit: contain;
}
.video-play-control {
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: flex-end;
  background: var(--linear-gradient-black);
}
.video-play-control span {
  color: var(--clr-white);
  font-size: 0.8rem;
  display: inline-block;
}
.video-length {
  background-color: var(--clr-grey-10);
  padding: 5px;
}
.video-control-right i {
  font-size: 2rem;
  color: var(--clr-white);
}
.video-title-text {
  font-size: 0.9rem;
  font-weight: 550;
}
.trend-footer {
  justify-content: space-around;
}
.trend-footer span {
  color: var(--clr-grey-8);
  font-size: 0.8rem;
}
/* purchase-main */
main.purchase {
  padding: 4rem 10px 2rem 10px;
}
.purchase-icons {
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}
.purchase-icon-card {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
  gap: 5px;
}
.purchase-icon-card i {
  font-size: 1rem;
  color: var(--clr-grey-10);
}
.purchase-icon-card span {
  font-size: 0.8rem;
  color: var(--clr-grey-10);
}

.sorts-line {
  grid-template-columns: 90% 10%;
  height: 3.5rem;
  align-items: center;
}
.sorts-container {
  overflow-x: scroll;
  gap: 10px;
}
.sorts-container::-webkit-scrollbar {
  display: none;
}
.sort-card {
  display: flex;
  height: 2rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-grey-0);
  border-radius: 15px;
  column-gap: 5px;
  padding: 0 10px 0 0;
  white-space: nowrap;
}
.sort-card .sort-card-text {
  font-size: 0.7rem;
}
.sort-img {
  height: 2rem;
  width: 2rem;
}
.sort-img img {
  border-radius: 50%;
}
.sorts-all-btn {
  column-gap: 5px;
  white-space: nowrap;
  padding-left: 5px;
}
.sort-all-text {
  font-size: 0.9rem;
}
.recommends-line {
  background: linear-gradient(var(--clr-white), var(--clr-grey-0));
  padding: 0 0 10px 0;
}
.recommends-line-center {
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.recommend-card {
  background-color: var(--clr-white);
  box-shadow: 0px 1px 1px var(--clr-grey-1);
  border-radius: 10px;
}
.recommend-card.pink-bg .recommend-card-title {
  background: linear-gradient(var(--clr-pink-1), var(--clr-white));
}
.recommend-card.blue-bg .recommend-card-title {
  background: linear-gradient(var(--clr-blue-0), var(--clr-white));
}
.recommend-card.pink-bg .recommend-tag {
  background-color: var(--clr-pink-1);
}
.recommend-card.blue-bg .recommend-tag {
  background-color: var(--clr-blue-0);
}
.recommend-card.pink-bg .recommend-tag-text {
  color: var(--clr-pink-5);
}
.recommend-card.blue-bg .recommend-tag-text {
  color: var(--clr-blue-5);
}
.recommend-card-title {
  text-align: center;
  border-radius: 10px;
  padding: 10px 0 0 0;
}
.card-title-text {
  font-size: 0.8rem;
  font-weight: bolder;
}
.recommend-card-img {
  height: 7rem;
  margin: 5px 5px 10px 5px;
}
.recommend-tag {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0 5px;
  border-radius: 10px;
}
.recommend-tag-text {
  white-space: nowrap;
  font-size: 0.75rem;
}
/* purchase-瀑布流设置 */
.goods {
  width: calc(
    var(--card-two-columns-width) * 2 + var(--two-columns-divider-width)
  );
  height: 10000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: var(--clr-grey-0);
}
.goods-card {
  width: var(--card-two-columns-width);
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 5px;
  background-color: var(--clr-white);
  padding-bottom: 10px;
}
.divider1 {
  flex-basis: 100%;
  width: var(--two-columns-divider-width);
  /* background-color: red; */
}
.divider1 {
  order: 1;
}
.goods-card:nth-of-type(2n + 1) {
  order: 1;
}
.goods-card:nth-of-type(2n + 2) {
  order: 2;
}
/* purchase-购物单独卡片设置 */
.goods-card-intro {
  display: grid;
  grid-template-rows: repeat(3, 1.25rem);
  row-gap: 5px;
  padding: 10px;
}
.goods-card-title {
  font-weight: 550;
}
.goods-tag span {
  display: inline-block;
  padding: 0 2px;
  font-size: 0.8rem;
  border-radius: 3px;
}
.pink-font {
  color: var(--clr-pink-5);
}
.price-intro,
.price {
  font-size: 0.75rem;
}
.price,
.goods-card-footer-right {
  color: var(--clr-grey-5);
}
.goods-card-footer {
  display: flex;
  justify-content: space-between;
}
/* mine-main */
main.mine {
  padding-top: 12rem;
  padding-bottom: 4rem;
}
.video-record {
  grid-template-columns: repeat(4, 1fr);
}
.video-record-card {
  display: grid;
  justify-items: center;
  gap: 5px;
}
.video-record-card i {
  font-size: 1.25rem;
  color: var(--clr-link-blue);
  display: inline-block;
  padding: 5px;
}
.video-record-type,
.optional-type {
  font-size: 0.75rem;
}
.createcenter-title-btn {
  padding: 5px 10px;
  border-radius: 13px;
  width: 5rem;
}
.optional-card i {
  font-size: 1.25rem;
  display: inline-block;
  padding: 5px;
}

.optional .optional-title-center {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.optional-content-center.four-column {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
}
.optional-card.grid {
  display: grid;
  justify-items: center;
  gap: 5px;
}
.optional-card.grid i {
  font-size: 1.25rem;
  display: inline-block;
  padding: 5px;
}
.createcenter-content-center i {
  color: var(--clr-gold);
}
.recommend-content-center i {
  color: var(--clr-pink-4);
}
.nogrid-optional-type {
  font-size: 0.9rem;
}
.optional-card.flex {
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 10px;
}
.service-content-center .optional-card-left i {
  color: var(--clr-pink-4);
  display: inline-block;
  padding: 0 10px;
}
.optional-card-right i {
  color: var(--clr-grey-5);
  font-size: 0.9rem;
}
/*
=============== 
video页面
===============
*/
.video-play-container {
  height: 35vh;
  overflow: hidden;
  background-color: var(--clr-black);
}
.video-detail {
  height: 100%;
}
.overlay-top {
  z-index: 10;
  height: 2rem;
  background: var(--linear-gradient-black-reverse);
  width: 100%;
  color: var(--clr-white);
  top: 0;
  left: 0;
  justify-content: space-between;
  padding: 10px;
}
.overlay-top-left a,
.overlay-top-left a:visited {
  color: var(--clr-white);
}
.overlay-top-right {
  justify-content: space-between;
  width: 50%;
}
.overlay-center {
  display: flex;
  color: var(--clr-white);
  right: 10px;
  bottom: 2rem;
  border-radius: 50%;
  background-color: var(--clr-bg-black-darker);
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
}
.overlay-bottom {
  grid-template-columns: auto 1fr auto;
  left: 0;
  bottom: 0;
  background: var(--linear-gradient-black);
  color: var(--clr-white);
  height: 2rem;
  width: 100%;
  padding: 0 10px;
  align-items: center;
}
.overlay-bottom-left {
  width: 2rem;
}
.overlay-bottom-middle {
  align-items: center;
  justify-content: space-between;
  width: 70vw;
}
.overlay-bottom-right {
  width: 4rem;
  justify-content: space-between;
}

/* 进度条 */
.progress-bar-parent {
  height: 3px;
  width: 50vw;
  background-color: var(--clr-grey-5);
  position: relative;
}
.progress-bar {
  width: 0;
  height: 3px;
  background-color: var(--clr-pink-5);
}
.progress-icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--clr-white);
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(50%);
}
/* 简介 */

.video-intro-nav-center {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  border-bottom: var(--border-thin-grey);
  padding: 0 10px;
}
.video-nav-left {
  justify-content: space-around;
  width: 50%;
}
.video-nav-list {
  display: flex;
  color: var(--clr-grey-8);
  font-size: 0.9rem;
  height: 3rem;
  align-items: center;
  gap: 5px;
}
.video-nav-list .comment-num {
  font-size: 0.75rem;
}
.video-nav-list.selected {
  color: var(--clr-pink-4);
  border-bottom: var(--border-bottom-selected-nav);
}
.video-nav-right {
  width: 40%;
  align-items: center;
}
.video-intro-nav .danmu-input {
  border-radius: 10px 0 0 10px;
  border: var(--border-thin-grey);
  background-color: var(--clr-grey-0);
  height: 1.5rem;
  width: 12rem;
}
.danmu-btn {
  width: 4rem;
  background-color: var(--clr-white);
  border-radius: 0 10px 10px 0;
  border: var(--border-thin-grey);
  height: 1.5rem;
}
.video-intro-nav .danmu-input::placeholder {
  padding: 5px 0 5px 10px;
}
.video-bottom-block-container {
  padding: 0 10px;
}
/* UP名称栏 */
.video-profile-user {
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.video-user-left {
  gap: 20px;
}
.video-user-img {
  width: 2.5rem;
  height: 2.5rem;
}
.video-user-name {
  font-size: 0.9rem;
}
.video-user-num {
  font-size: 0.8rem;
  color: var(--clr-grey-5);
}
.video-user-right .btn {
  width: 5rem;
  padding: 3px 10px;
  border-radius: 15px;
}
.btn.charging {
  color: var(--clr-pink-5);
  border: var(--border-thin-pink);
  background-color: var(--clr-white);
}
.btn.following {
  color: var(--clr-grey-5);
  background-color: var(--clr-grey-1);
}
/* 视频标题区 */
.video-profile-title {
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.video-profile-title-right {
  color: var(--clr-grey-5);
}
.video-profile-play,
.video-recommend-card-footer {
  color: var(--clr-grey-5);
  font-size: 0.8rem;
}
.video-profile-play {
  display: flex;
  gap: 8px;
}
/* 简介三连区 */
.video-profile-icons {
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  padding: 20px 0;
}
.video-profile-icon-card {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
  gap: 5px;
}
.video-profile-icon-card i {
  font-size: 1rem;
  color: var(--clr-grey-10);
}
.video-profile-icon-card span {
  font-size: 0.8rem;
  color: var(--clr-grey-10);
}

/* 视频推荐区 */
.video-recommend-container {
  border-top: var(--border-thin-grey);
}
.video-page-recommend-card {
  display: flex;
  height: 7.5rem;
  gap: 20px;
  padding: 10px 0;
  border-bottom: var(--border-thin-grey);
}
.video-recommend-title {
  font-size: 0.9rem;
}
.video-recommend-img {
  height: 100%;
  width: 35%;
  border-radius: 5px;
  overflow: hidden;
}
.video-recommend-text {
  display: grid;
  grid-template-rows: 1fr auto auto;
  gap: 5px;
  width: 65%;
}
.video-recommend-pub {
  gap: 5px;
}
.video-recommend-card-footer {
  justify-content: space-between;
}
.video-recommend-play {
  display: flex;
  gap: 20px;
}
/* 评论区 */
.video-comment-block-container {
  position: relative;
}
.comment-block-container-center {
  padding-bottom: 3.5rem;
}
.video-comments-screen {
  justify-content: space-between;
  padding: 10px;
  font-size: 0.9rem;
}
.comments-screen-right {
  color: var(--clr-grey-5);
}
.video-comment-card {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  padding: 10px;
  border-bottom: var(--border-thin-grey);
}
.comment-user-name-row {
  display: flex;
  gap: 5px;
}
.comment-user-img {
  transform: scale(80%);
}
.comment-user-name {
  font-size: 0.9rem;
  padding-bottom: 3px;
}
.comment-user-name.vip {
  color: var(--clr-pink-5);
}
.comment-user-time {
  font-size: 0.8rem;
  color: var(--clr-grey-5);
}
.comment-content {
  padding: 15px 0;
}
.comment-card-footer {
  justify-content: space-between;
  color: var(--clr-grey-5);
  font-size: 0.9rem;
}
.comment-card-footer-left {
  gap: 20px;
}
.comment-block-container-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 10px;
  height: 3.5rem;
  gap: 10px;
  width: 100%;
  background-color: var(--clr-white);
}
.comment-input {
  border-radius: 20px;
  background-color: var(--clr-grey-0);
  border: var(--border-thin-grey);
}
.comment-input::placeholder {
  font-size: 1rem;
  padding: 5px 10px;
}
.comment-btn {
  border: none;
  background-color: var(--clr-white);
  font-size: 1.5rem;
  color: var(--clr-grey-8);
}
/*
=============== 
footer
===============
*/
.footer {
  height: 4rem;
  background-color: var(--clr-white);
  padding-top: 10px;
  padding-bottom: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}
.footer-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-icon {
  height: 3rem;
  display: grid;
}
.side-icon {
  grid-template-rows: 1fr auto;
  row-gap: 0;
  justify-content: center;
  text-align: center;
}
.side-icon i {
  font-size: 20px;
}
.side-icon span {
  font-size: 14px;
}
.side-icon.selected i,
.side-icon.selected span {
  color: var(--clr-pink-4);
}
.center-icon {
  background-color: var(--clr-pink-5);
  width: 3rem;
  height: 3rem;
  justify-items: center;
  align-items: center;
  border-radius: 15px;
}
.center-icon i {
  color: var(--clr-white);
  font-size: 20px;
}
/*
=============== 
toggle class
===============
*/
/* 视频页：whole-screen */
.whole-screen .overlay-top,
.whole-screen .overlay-center,
.whole-screen .overlay-bottom {
  display: none;
}
.overlay-bottom-left.paused .video-pause-icon {
  display: none;
}
.overlay-bottom-left.paused .video-play-icon {
  display: block;
}
.none {
  display: none;
}
